In [90]:
dict_4 = {    
    '식기세척기/건조기':['식기세척기', '살균건조기'],
    '가스/전기레인지':['인덕션', '가스레인지', '전기렌인지'],
    '믹서/분쇄기':['블렌더', '착즙기', '맷돌', '믹서기', '믹서', '퀵스퀴저', '블랜더', '다지기'],
    '전기밥솥':['전기밥솥', '압력밥솥'],
    '냄비/압력솥':['냄비', '가마솥'],
    '조리/가열기기':['드럼쿡', '양면그릴', '미니오븐', '그릴', '중탕기', '에어프라이어','티메이커', '죽제조기', '티포트', '멀티쿡', '멀티포트'],
    '전자레인지/오븐':['전자레인지'],
    '커피머신':['커피머신'],
    '식기/홈세트':['디너세트', '미라벨', '마리벨'],
    '조리도구':['살균블럭', '키친툴', '도마', '소쿠리', '채칼'],
    '물병/보관/밀폐용기':['스텐용기', '밀폐용기', '오븐글라스', '그린 후레쉬 세트', '보온병', '텀블러'],
    '프라이팬':['후라이팬','프라이팬','양면팬', '실버팬', '직화그릴'],
    '캠핑용품':['가스그릴'],
    '주방수납/싱크대정리용품':['식기건조대', '싱크선반'],
    '소형생활가전':['진공포장기'],
    '종이컵/일회용품':['행주','수세미', '지퍼백'],
    
    
    '보석/장신구':['루이띠에', '생쥴랑', '생줄랑'],
    '명품 가방':['구찌','프라다','버버리', '생로랑'],
    '2군 가방':['안드레아바나', '에트로', '아르테사노', '알비에로', '코치', '마이클코어스', '소노비'],
    '고오급 잡화':['선글라스', '머플러', '장지갑', '반지갑'],
    '잡화':['케이프', '여행가방', '캐리어', '장갑', '양산', '엘리자베스아덴', '밍크', '벨트', '기라로쉬', '모자'],
    '시계':['가이거'],
    '기능 신발':['스니커즈', '남성화', '트레킹화', '방한화', '워킹화', '트레일화', '러닝화'],
    '신발':['부츠', '펌프스', '샌들', '슬립온', '로퍼', '슈즈'],
    '3군 가방':['도스문도스', '메디아글램', '마스케라', '삭루츠', '로베르타', '썸덱스', '칼리베이직', '에버라스트', '엘르 메르시']
}

In [91]:
# < 주방>
# 식기세척기, 인덕션

# 블렌더, 가스레인지, 전기밥솥, 냄비세트, 드럼쿡, 착즙기, 양면그릴

# 전자레인지, 커피머신, 미니오븐, 맷돌, 압력밥솥, 살균건조기, 그릴, 디너세트, 중탕기, 살균블럭, 스텐용기, 믹서기, 

# 밀폐용기, 에어프라이어, 후라이팬, 프라이팬, 가스그릴, 앙면팬, 냄비, 식기건조대, 전기렌인지, 

# //키친툴, 싱크선반, 진공포장기, 믹서를 품은 텀블러, 미니오븐, 티메이커, 캄포도마, 죽제조기, 퀵스퀴저, 블랜더, 실버팬, 티포트, 직화그릴, 오븐글라스, 보온병, 멀티쿡, 가마솥, 다지기, 행주, 수세미, 소쿠리, 지퍼백, 멀티포트, 

# 키친플라워 그린 후레쉬 세트, 마리벨 홈세트

# < 잡화 >
# 루이띠에/순금 주얼리, 구찌/체인숄더, 프라다/스퀘어백, 프라다/숄더백, 생쥴랑/다이아, 프라다/모터백, 프라다/보스턴, 프라다/미란다백, 프라다/쇼퍼백, 프라다/토트백, 버버리/크로스백, 프라다/호보백, 프라다/버킷백, 프라다/투웨이백, 

# 구찌/장지갑, 루이띠에/베르니아반지, 

# 안드레아바나/토트백, 구찌/선글라스, 에트로/토트백, 에트로/크로스백, 생쥴랑/주얼리, 아르테사노/토트백, 구찌/머플러, 프라다/선글라스, 에트로/숄더백, 알비에로/드로잉 백, 에트로/웨이스트백, 알비에로/백팩, 코치/숄더백, 알비에로/쇼퍼백, 알비에로/숄더백, 코치/캐리올, 마이클코어스/체인숄더, 코치/사첼, 마이클코어스/사첼, DIOR/선글라스, 코치/바디백, 코치/백팩, 제옥스/스니커즈, 

# 가이거/다이아몬드 워치, 알비에로/장지갑, 알비에로/케이프, 여행가방, 갈란테/남성화, 가이거/주얼리, 캐리어, 알비에로/머플러, 

# 도스문도스/토트백, 도스문도스/핸드백, 생줄랑/목걸이, 알비에로/스카프, 메디아글램/토트백, 로베르타/선글라스, 도스문도스/숄더백, 마스케라/컬렉션, 삭루츠/백팩, 스프리스/스니커즈, 아가타/부츠, 레노마/장갑, 아가타/펌프스, 레코바/트레킹화, 월드컵/트레킹화, 트레스패스/방한화, 로베르타/백팩, 아가타/샌들, 썸덱스/백팩, 칼리베이직/패브릭 백, 로베르타/토트백, 에버라스트/백팩, RYN/방한화, 삭루츠/호보백, 레코바/워킹화, 레노마/양산, 아가타/슬립온, 엘리자베스아덴/선글라스, 스브리스/부츠, 에펨/부츠, 마스케라/밍크, 트레스패스/트레킹화, 시스마르스/샌들, 월드컵/트레일화, 트레스패스/워킹화, 바치/마술벨트, AAA/트레킹화, 엘르 매르시/토트백, 기라로쉬/선글라스, 칼리베이직/여성백, 엘리자베스아덴/선글라스, 아가타/로퍼, 메이듀/펌프스, 스프리스/부츠, 에펨/부츠, 에펨/슈즈, 에펨/샌들, 시스마르스/샌들, 트레스패스/워킹화, RYN/스니커즈, 플로쥬/스니커즈, 아가타/샌들, AAD/슬립온, 월드컵/러닝화, 오델로/모자, 메이듀/슬립온, 시스마르스/펌프스, AAD/샌들, 


# 코치/리스틀릿

In [92]:
import pandas as pd
df = pd.read_excel('../data_train/sales.xlsx', encoding='euc-kr', header = 1)
df['판매수량'] = df['취급액'] // df['판매단가']

In [93]:
df_e = df.loc[df['상품군'] == '잡화']
df_k = df.loc[df['상품군'] == '주방']
df_b = df.loc[df['상품군'] == '침구']
# df = pd.concat([df_1,df_2],axis=0)
# df = df.reset_index()
# df

In [94]:
df_k = df_k.reset_index()
df_k

,index,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,판매수량
0,5975,2019-09-05 23:00:00,30.0,100533,201611,SK매직 파워워시 식기세척기 터치온,주방,1184400,11808000.0,9.0
1,5976,2019-09-05 23:30:00,30.0,100533,201611,SK매직 파워워시 식기세척기 터치온,주방,1184400,50802000.0,42.0
2,5977,2019-09-13 18:00:00,30.0,100533,201611,SK매직 파워워시 식기세척기 터치온,주방,1184400,15628000.0,13.0
3,5978,2019-09-13 18:30:00,30.0,100533,201611,SK매직 파워워시 식기세척기 터치온,주방,1184400,43162000.0,36.0
4,7037,2019-02-08 15:00:00,20.0,100839,202464,무이자 쿠쿠 하이브리드 인덕션레인지(프리미엄형),주방,799000,3736000.0,4.0
...,...,...,...,...,...,...,...,...,...,...
6599,37070,2019-10-28 08:20:00,20.0,100235,200804,벨라홈 세균잡는 행주티슈 17팩,주방,29800,7895000.0,264.0
6600,37071,2019-10-28 08:40:00,20.0,100235,200804,벨라홈 세균잡는 행주티슈 17팩,주방,29800,9868000.0,331.0
6601,37360,2019-07-19 07:00:00,NaN,100508,201568,두꺼비 매직 버블수세미200매 + 곰팡이젤1개,주방,24900,2848000.0,114.0
6602,37361,2019-07-19 07:20:00,NaN,100508,201568,두꺼비 매직 버블수세미200매 + 곰팡이젤1개,주방,24900,3371000.0,135.0
6603,37362,2019-07-19 07:40:00,NaN,100508,201568,두꺼비 매직 버블수세미200매 + 곰팡이젤1개,주방,24900,4892000.0,196.0

In [95]:
df_e = df_e.reset_index()
df_e

,index,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,판매수량
0,0,2019-10-11 08:00:00,NaN,100788,202330,[루이띠에] 순금 70g 골드바,잡화,7930000,50000.0,0.0
1,1,2019-10-11 08:30:00,NaN,100788,202330,[루이띠에] 순금 70g 골드바,잡화,7930000,36072000.0,4.0
2,2,2019-10-19 08:00:00,NaN,100788,202330,[루이띠에] 순금 70g 골드바,잡화,7930000,50000.0,0.0
3,3,2019-10-19 08:30:00,NaN,100788,202330,[루이띠에] 순금 70g 골드바,잡화,7930000,50000.0,0.0
4,4,2019-10-24 08:00:00,NaN,100788,202330,[루이띠에] 순금 70g 골드바,잡화,7930000,50000.0,0.0
...,...,...,...,...,...,...,...,...,...,...
3886,37286,2019-08-18 14:20:00,20.0,100019,200029,AAD 도트펀칭 컴포트 슬립온,잡화,29000,48034000.0,1656.0
3887,37287,2019-08-18 14:40:00,20.0,100019,200029,AAD 도트펀칭 컴포트 슬립온,잡화,29000,58764000.0,2026.0
3888,37293,2019-08-21 15:00:00,20.0,100019,200029,AAD 도트펀칭 컴포트 슬립온,잡화,29000,19945000.0,687.0
3889,37294,2019-08-21 15:20:00,20.0,100019,200029,AAD 도트펀칭 컴포트 슬립온,잡화,29000,33432000.0,1152.0
3890,37295,2019-08-21 15:40:00,20.0,100019,200029,AAD 도트펀칭 컴포트 슬립온,잡화,29000,41346000.0,1425.0

In [96]:
dict_cat_k = {}
for i, row in enumerate(df_k.fillna(0).iterrows()):
    for key in dict_4.keys():
        for keyword in dict_4[key]:
            if keyword in row[1][5]:
                dict_cat_k[i] = key
                continue
print(len(dict_cat_k.keys()))

6604

In [97]:
dict_cat_e = {}
for i, row in enumerate(df_e.fillna(0).iterrows()):
    for key in dict_4.keys():
        for keyword in dict_4[key]:
            if keyword in row[1][5]:
                dict_cat_e[i] = key
                continue
print(len(dict_cat_e.keys()))

3891

In [98]:
# dict_cat_k

In [99]:
keys = dict_cat_k.keys()
values = dict_cat_k.values()
dict = {'keys': list(keys), 'values': list(values)}
df_k_2 = pd.DataFrame(dict)
df_k_2 = df_k_2.set_index('keys')
df_kk = pd.concat([df_k, df_k_2],axis=1)
# df_kk = df_kk.drop(['Index'],axis=1)
df_kk

,index,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,판매수량,values
0,5975,2019-09-05 23:00:00,30.0,100533,201611,SK매직 파워워시 식기세척기 터치온,주방,1184400,11808000.0,9.0,식기세척기/건조기
1,5976,2019-09-05 23:30:00,30.0,100533,201611,SK매직 파워워시 식기세척기 터치온,주방,1184400,50802000.0,42.0,식기세척기/건조기
2,5977,2019-09-13 18:00:00,30.0,100533,201611,SK매직 파워워시 식기세척기 터치온,주방,1184400,15628000.0,13.0,식기세척기/건조기
3,5978,2019-09-13 18:30:00,30.0,100533,201611,SK매직 파워워시 식기세척기 터치온,주방,1184400,43162000.0,36.0,식기세척기/건조기
4,7037,2019-02-08 15:00:00,20.0,100839,202464,무이자 쿠쿠 하이브리드 인덕션레인지(프리미엄형),주방,799000,3736000.0,4.0,가스/전기레인지
...,...,...,...,...,...,...,...,...,...,...,...
6599,37070,2019-10-28 08:20:00,20.0,100235,200804,벨라홈 세균잡는 행주티슈 17팩,주방,29800,7895000.0,264.0,종이컵/일회용품
6600,37071,2019-10-28 08:40:00,20.0,100235,200804,벨라홈 세균잡는 행주티슈 17팩,주방,29800,9868000.0,331.0,종이컵/일회용품
6601,37360,2019-07-19 07:00:00,NaN,100508,201568,두꺼비 매직 버블수세미200매 + 곰팡이젤1개,주방,24900,2848000.0,114.0,종이컵/일회용품
6602,37361,2019-07-19 07:20:00,NaN,100508,201568,두꺼비 매직 버블수세미200매 + 곰팡이젤1개,주방,24900,3371000.0,135.0,종이컵/일회용품
6603,37362,2019-07-19 07:40:00,NaN,100508,201568,두꺼비 매직 버블수세미200매 + 곰팡이젤1개,주방,24900,4892000.0,196.0,종이컵/일회용품

In [103]:
df_kk = df_kk.drop(['index'],axis=1)
df_kk

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,판매수량,values
0,2019-09-05 23:00:00,30.0,100533,201611,SK매직 파워워시 식기세척기 터치온,주방,1184400,11808000.0,9.0,식기세척기/건조기
1,2019-09-05 23:30:00,30.0,100533,201611,SK매직 파워워시 식기세척기 터치온,주방,1184400,50802000.0,42.0,식기세척기/건조기
2,2019-09-13 18:00:00,30.0,100533,201611,SK매직 파워워시 식기세척기 터치온,주방,1184400,15628000.0,13.0,식기세척기/건조기
3,2019-09-13 18:30:00,30.0,100533,201611,SK매직 파워워시 식기세척기 터치온,주방,1184400,43162000.0,36.0,식기세척기/건조기
4,2019-02-08 15:00:00,20.0,100839,202464,무이자 쿠쿠 하이브리드 인덕션레인지(프리미엄형),주방,799000,3736000.0,4.0,가스/전기레인지
...,...,...,...,...,...,...,...,...,...,...
6599,2019-10-28 08:20:00,20.0,100235,200804,벨라홈 세균잡는 행주티슈 17팩,주방,29800,7895000.0,264.0,종이컵/일회용품
6600,2019-10-28 08:40:00,20.0,100235,200804,벨라홈 세균잡는 행주티슈 17팩,주방,29800,9868000.0,331.0,종이컵/일회용품
6601,2019-07-19 07:00:00,NaN,100508,201568,두꺼비 매직 버블수세미200매 + 곰팡이젤1개,주방,24900,2848000.0,114.0,종이컵/일회용품
6602,2019-07-19 07:20:00,NaN,100508,201568,두꺼비 매직 버블수세미200매 + 곰팡이젤1개,주방,24900,3371000.0,135.0,종이컵/일회용품
6603,2019-07-19 07:40:00,NaN,100508,201568,두꺼비 매직 버블수세미200매 + 곰팡이젤1개,주방,24900,4892000.0,196.0,종이컵/일회용품

In [104]:
keys = dict_cat_e.keys()
values = dict_cat_e.values()
dict = {'keys': list(keys), 'values': list(values)}
df_e_2 = pd.DataFrame(dict)
df_e_2 = df_e_2.set_index('keys')
df_ee = pd.concat([df_e, df_e_2],axis=1)
# display(df_ee)
df_ee = df_ee.drop(['index'],axis=1)
df_ee

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,판매수량,values
0,2019-10-11 08:00:00,NaN,100788,202330,[루이띠에] 순금 70g 골드바,잡화,7930000,50000.0,0.0,보석/장신구
1,2019-10-11 08:30:00,NaN,100788,202330,[루이띠에] 순금 70g 골드바,잡화,7930000,36072000.0,4.0,보석/장신구
2,2019-10-19 08:00:00,NaN,100788,202330,[루이띠에] 순금 70g 골드바,잡화,7930000,50000.0,0.0,보석/장신구
3,2019-10-19 08:30:00,NaN,100788,202330,[루이띠에] 순금 70g 골드바,잡화,7930000,50000.0,0.0,보석/장신구
4,2019-10-24 08:00:00,NaN,100788,202330,[루이띠에] 순금 70g 골드바,잡화,7930000,50000.0,0.0,보석/장신구
...,...,...,...,...,...,...,...,...,...,...
3886,2019-08-18 14:20:00,20.0,100019,200029,AAD 도트펀칭 컴포트 슬립온,잡화,29000,48034000.0,1656.0,신발
3887,2019-08-18 14:40:00,20.0,100019,200029,AAD 도트펀칭 컴포트 슬립온,잡화,29000,58764000.0,2026.0,신발
3888,2019-08-21 15:00:00,20.0,100019,200029,AAD 도트펀칭 컴포트 슬립온,잡화,29000,19945000.0,687.0,신발
3889,2019-08-21 15:20:00,20.0,100019,200029,AAD 도트펀칭 컴포트 슬립온,잡화,29000,33432000.0,1152.0,신발
3890,2019-08-21 15:40:00,20.0,100019,200029,AAD 도트펀칭 컴포트 슬립온,잡화,29000,41346000.0,1425.0,신발

In [105]:
df_b['values'] = '침구'
df_b

/anaconda3/envs/EDA/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,판매수량,values
11597,2019-04-24 01:00:00,NaN,100503,201523,(무)[한샘] 호텔식 레일 암막커튼 세트(슈퍼특대형),침구,239000,50000.0,0.0,침구
11598,2019-04-24 01:20:00,NaN,100503,201523,(무)[한샘] 호텔식 레일 암막커튼 세트(슈퍼특대형),침구,239000,707000.0,2.0,침구
11599,2019-04-24 01:40:00,NaN,100503,201523,(무)[한샘] 호텔식 레일 암막커튼 세트(슈퍼특대형),침구,239000,1978000.0,8.0,침구
11836,2019-04-24 01:00:00,NaN,100503,201540,(일)[한샘] 호텔식 레일 암막커튼 세트(슈퍼특대형),침구,229000,679000.0,2.0,침구
11837,2019-04-24 01:20:00,NaN,100503,201540,(일)[한샘] 호텔식 레일 암막커튼 세트(슈퍼특대형),침구,229000,1869000.0,8.0,침구
...,...,...,...,...,...,...,...,...,...,...
31212,2019-10-24 23:20:00,NaN,100111,200305,리앤 헤링본 러그 카페트 대형,침구,49900,2787000.0,55.0,침구
31213,2019-10-24 23:40:00,NaN,100111,200305,리앤 헤링본 러그 카페트 대형,침구,49900,3185000.0,63.0,침구
33973,2019-10-07 13:00:00,NaN,100142,200388,보몽드 엘리 소프트플란넬 침구세트 SS(슈퍼싱글),침구,39900,2762000.0,69.0,침구
33974,2019-10-07 13:20:00,NaN,100142,200388,보몽드 엘리 소프트플란넬 침구세트 SS(슈퍼싱글),침구,39900,9740000.0,244.0,침구
33975,2019-10-07 13:40:00,NaN,100142,200388,보몽드 엘리 소프트플란넬 침구세트 SS(슈퍼싱글),침구,39900,8905000.0,223.0,침구

In [106]:
df_f = pd.concat([df_ee,df_kk,df_b], axis=0)
df_f

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,판매수량,values
0,2019-10-11 08:00:00,NaN,100788,202330,[루이띠에] 순금 70g 골드바,잡화,7930000,50000.0,0.0,보석/장신구
1,2019-10-11 08:30:00,NaN,100788,202330,[루이띠에] 순금 70g 골드바,잡화,7930000,36072000.0,4.0,보석/장신구
2,2019-10-19 08:00:00,NaN,100788,202330,[루이띠에] 순금 70g 골드바,잡화,7930000,50000.0,0.0,보석/장신구
3,2019-10-19 08:30:00,NaN,100788,202330,[루이띠에] 순금 70g 골드바,잡화,7930000,50000.0,0.0,보석/장신구
4,2019-10-24 08:00:00,NaN,100788,202330,[루이띠에] 순금 70g 골드바,잡화,7930000,50000.0,0.0,보석/장신구
...,...,...,...,...,...,...,...,...,...,...
31212,2019-10-24 23:20:00,NaN,100111,200305,리앤 헤링본 러그 카페트 대형,침구,49900,2787000.0,55.0,침구
31213,2019-10-24 23:40:00,NaN,100111,200305,리앤 헤링본 러그 카페트 대형,침구,49900,3185000.0,63.0,침구
33973,2019-10-07 13:00:00,NaN,100142,200388,보몽드 엘리 소프트플란넬 침구세트 SS(슈퍼싱글),침구,39900,2762000.0,69.0,침구
33974,2019-10-07 13:20:00,NaN,100142,200388,보몽드 엘리 소프트플란넬 침구세트 SS(슈퍼싱글),침구,39900,9740000.0,244.0,침구
33975,2019-10-07 13:40:00,NaN,100142,200388,보몽드 엘리 소프트플란넬 침구세트 SS(슈퍼싱글),침구,39900,8905000.0,223.0,침구

In [59]:
print('주방')
describe_sorts(df_f,"주방")
print('잡화')
describe_sorts(df_f,"잡화")

주방
전체 6604개의 상품 중 유니크한 상품 수는 224개이다.
마더코드의 개수는 98개이다.
판매단가의 평균은 152433.0원, 최소 24900원, 최대 1184400원이다.
판매수량의 평균은 189.0개, 최소 0.0개, 최대 2697.0개이다.
잡화
전체 3891개의 상품 중 유니크한 상품 수는 262개이다.
마더코드의 개수는 79개이다.
판매단가의 평균은 469478.0원, 최소 29000원, 최대 7930000원이다.
판매수량의 평균은 237.0개, 최소 0.0개, 최대 2928.0개이다.

In [107]:
df_f.to_csv('data_cat.csv', encoding='euc-kr')

In [3]:
import pandas as pd
df = pd.read_excel('data_cat.xlsx', encoding='euc-kr', header = 0)

In [4]:
df

,Unnamed: 0,index,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,values
0,0,0,2019-10-11 08:00:00,NaN,100788,202330,[루이띠에] 순금 70g 골드바,잡화,7930000,50000,보석/장신구
1,1,1,2019-10-11 08:30:00,NaN,100788,202330,[루이띠에] 순금 70g 골드바,잡화,7930000,36072000,보석/장신구
2,2,2,2019-10-19 08:00:00,NaN,100788,202330,[루이띠에] 순금 70g 골드바,잡화,7930000,50000,보석/장신구
3,3,3,2019-10-19 08:30:00,NaN,100788,202330,[루이띠에] 순금 70g 골드바,잡화,7930000,50000,보석/장신구
4,4,4,2019-10-24 08:00:00,NaN,100788,202330,[루이띠에] 순금 70g 골드바,잡화,7930000,50000,보석/장신구
...,...,...,...,...,...,...,...,...,...,...,...
10490,6599,37070,2019-10-28 08:20:00,20.0,100235,200804,벨라홈 세균잡는 행주티슈 17팩,주방,29800,7895000,종이컵/일회용품
10491,6600,37071,2019-10-28 08:40:00,20.0,100235,200804,벨라홈 세균잡는 행주티슈 17팩,주방,29800,9868000,종이컵/일회용품
10492,6601,37360,2019-07-19 07:00:00,NaN,100508,201568,두꺼비 매직 버블수세미200매 + 곰팡이젤1개,주방,24900,2848000,종이컵/일회용품
10493,6602,37361,2019-07-19 07:20:00,NaN,100508,201568,두꺼비 매직 버블수세미200매 + 곰팡이젤1개,주방,24900,3371000,종이컵/일회용품
10494,6603,37362,2019-07-19 07:40:00,NaN,100508,201568,두꺼비 매직 버블수세미200매 + 곰팡이젤1개,주방,24900,4892000,종이컵/일회용품

In [9]:
df_f = df[['상품명', 'values']]
df_f

                             상품명    values
0              [루이띠에] 순금 70g 골드바    보석/장신구
1              [루이띠에] 순금 70g 골드바    보석/장신구
2              [루이띠에] 순금 70g 골드바    보석/장신구
3              [루이띠에] 순금 70g 골드바    보석/장신구
4              [루이띠에] 순금 70g 골드바    보석/장신구
...                          ...       ...
10490          벨라홈 세균잡는 행주티슈 17팩  종이컵/일회용품
10491          벨라홈 세균잡는 행주티슈 17팩  종이컵/일회용품
10492  두꺼비 매직 버블수세미200매 + 곰팡이젤1개  종이컵/일회용품
10493  두꺼비 매직 버블수세미200매 + 곰팡이젤1개  종이컵/일회용품
10494  두꺼비 매직 버블수세미200매 + 곰팡이젤1개  종이컵/일회용품

[10495 rows x 2 columns]

In [19]:
df_f.groupby(['values']).count()

               상품명
values
2군 가방          631
3군 가방          783
가스/전기레인지       483
고오급 잡화          96
기능 신발          512
냄비/압력솥         423
명품 가방          423
물병/보관/밀폐용기     257
믹서/분쇄기         513
보석/장신구         580
소형생활가전          40
시계             246
식기/홈세트          12
식기세척기/건조기       40
신발             445
잡화             175
전기밥솥          2941
전자레인지/오븐       132
조리/가열기기        971
조리도구           153
종이컵/일회용품        89
주방수납/싱크대정리용품    90
캠핑용품             8
커피머신            48
프라이팬           404

In [14]:
df_f.groupby(['상품명']).count()

                                    values
상품명
 [가이거] 블랙 에디션 다이아몬드 워치(남성용)              3
 [가이거] 블랙 에디션 다이아몬드 워치(여성용)              3
 국내제조 오슬로 IH 프라이팬 세트                    12
 메디아글램 카이만엠보 소가죽 체인숄더백 (+클러치백+폼폼이)       6
 메디아글램 카이만엠보 소가죽 토트백 (+클러치백+폼폼이)         6
...                                    ...
한일 대용량 스텐 분쇄믹서기                        401
해피콜  IH 진공 스텐 냄비 에디션                    54
해피콜  X2싱크릴 분리가능 양면그릴                     3
해피콜IH양면팬                                 2
해피콜엑슬림블렌더                                6

[486 rows x 1 columns]

### 테스트도 똑같이 되는지 해보기

In [ ]:
# < 주방 >
# 밥솥, 가스레인지, 비싼 프라이팬, 살균 건조기, 

# 자동회전냄비, 믹서기, 전자레인지, 

# 다지기, 에어프라이어, 세라믹냄비세트, 밀폐용기, 텀블러세트, 채칼, 블렌더, 메가티타늄 후라이팬,

# < 침구 >
# 침구 풀세트, 커튼

# < 잡화 >
# [구찌, 생로랑 / 프라다, 버버리 / 소노비] -> 명품백, 루이띠에 -> 금,

# [구찌, 버버리, 생로랑] -> 장지갑, [구찍, 톰포드, 페라가모] -> 선글라스, [구찌] -> 스카프, 

# [오델로] -> 모자, [기라로쉬, 페리엘리스] -> 선글라스, [월드컵] -> 러닝화,[시스마르스] -> 스니커즈, [W클라우드, AAA] -> 트레킹화, [시스마르스] -> 펌프스, [아가타, 엘르 로라] -> 샌들, [레비노블, 레노마] -> 양산, [칼리베이직] -> 패브릭백, [에버라스트] -> 백팩

In [63]:
import pandas as pd
df = pd.read_excel('../data_test/2020 빅콘테스트 데이터분석분야-챔피언리그_2020년 6월 판매실적예측데이터(평가데이.xlsx', encoding='euc-kr', header = 1)
df['판매수량'] = df['취급액'] // df['판매단가']

In [64]:
df_e = df.loc[df['상품군'] == '잡화']
df_k = df.loc[df['상품군'] == '주방']

df_k = df_k.reset_index()
df_e = df_e.reset_index()

dict_cat_k = {}
for i, row in enumerate(df_k.fillna(0).iterrows()):
    for key in dict_4.keys():
        for keyword in dict_4[key]:
            if keyword in row[1][5]:
                dict_cat_k[i] = key
                continue
print(len(dict_cat_k.keys()))

dict_cat_e = {}
for i, row in enumerate(df_e.fillna(0).iterrows()):
    for key in dict_4.keys():
        for keyword in dict_4[key]:
            if keyword in row[1][5]:
                dict_cat_e[i] = key
                continue
print(len(dict_cat_e.keys()))

keys = dict_cat_k.keys()
values = dict_cat_k.values()
dict = {'keys': list(keys), 'values': list(values)}
df_k_2 = pd.DataFrame(dict)
df_k_2 = df_k_2.set_index('keys')
df_kk = pd.concat([df_k, df_k_2],axis=1)
# df_kk
keys = dict_cat_e.keys()
values = dict_cat_e.values()
dict = {'keys': list(keys), 'values': list(values)}
df_e_2 = pd.DataFrame(dict)
df_e_2 = df_e_2.set_index('keys')
df_ee = pd.concat([df_e, df_e_2],axis=1)
# df_ee
df_f = pd.concat([df_ee,df_kk], axis=0)

df_f.to_csv('data_cat_test.csv', encoding='euc-kr')

272
277

In [65]:
def describe_sorts(df_,col):
    df_ = df[df['상품군'] == col]
    print(f"전체 {df_.shape[0]}개의 상품 중 유니크한 상품 수는 {df_.상품명.nunique()}개이다.")
    print(f"마더코드의 개수는 {df_.마더코드.nunique()}개이다.")
    print(f"판매단가의 평균은 {round(df_.판매단가.mean())}원, 최소 {df_.판매단가.min()}원, 최대 {df_.판매단가.max()}원이다.")
    print(f"판매수량의 평균은 {round(df_.판매수량.mean())}개, 최소 {(df_.판매수량.min())}개, 최대 {round(df_.판매수량.max())}개이다.")
    
    return 
# df_.판매수량.iplot()

In [66]:
describe_sorts(df_f,"주방")

전체 272개의 상품 중 유니크한 상품 수는 28개이다.
마더코드의 개수는 19개이다.
판매단가의 평균은 153183.0원, 최소 49900원, 최대 279000원이다.

ValueError: cannot convert float NaN to integer

In [67]:
describe_sorts(df_f,"잡화")

전체 277개의 상품 중 유니크한 상품 수는 44개이다.
마더코드의 개수는 22개이다.
판매단가의 평균은 728448.0원, 최소 29800원, 최대 4320000원이다.

ValueError: cannot convert float NaN to integer

In [68]:
df_f.groupby(['values']).count()

            index  방송일시  노출(분)  마더코드  상품코드  상품명  상품군  판매단가  취급액  판매수량
values
2군 가방           6     6      6     6     6    6    6     6    0     0
3군 가방           6     6      6     6     6    6    6     6    0     0
가스/전기레인지       42    42     24    42    42   42   42    42    0     0
고오급 잡화         58    58     16    58    58   58   58    58    0     0
기능 신발          36    36     18    36    36   36   36    36    0     0
냄비/압력솥         15    15     15    15    15   15   15    15    0     0
명품 가방         108   108     12   108   108  108  108   108    0     0
물병/보관/밀폐용기     12    12      9    12    12   12   12    12    0     0
믹서/분쇄기         21    21     21    21    21   21   21    21    0     0
보석/장신구         12    12      2    12    12   12   12    12    0     0
식기세척기/건조기       2     2      2     2     2    2    2     2    0     0
신발             24    24     24    24    24   24   24    24    0     0
잡화             27    27     21    27    27   27   27    27    0     0
전기밥솥           60    60     30    60    60   60   60    60    0     0
전자레인지/오븐       18    18      9    18    18   18   18    18    0     0
조리/가열기기        69    69     42    69    69   69   69    69    0     0
조리도구            3     3      3     3     3    3    3     3    0     0
프라이팬           30    30     24    30    30   30   30    30    0     0