In [1]:
import pandas as pd
import numpy as np
import warnings
import re
import xlsxwriter
warnings.filterwarnings(action='ignore')

In [2]:
df_perf = pd.read_excel('./data/01_제공데이터/2019실적.xlsx',sheet_name = 'rawdata_2019(완)',header=1)

In [3]:
df_perf['상품군'] = df_perf['상품군'].astype('category')

In [63]:
df = df_perf.copy()

In [64]:
df['판매수량'] = df['취급액'] // df['판매단가']

# 의류(총 12개)

#### - 여성/남성  
#### - 가죽/모피/무스탕, 자켓/코트/패딩, 상의1, 상의2, 하의, 세트상품

In [65]:
df_clothes = df[df['상품군']=='의류']

In [66]:
print(df_clothes.shape)

(4340, 9)

In [67]:
df_clothes['gender'] = np.where(df_clothes['상품명'].apply(lambda x:'남성' in x),'남성','여성')

In [68]:
leather = ["가죽","밍크","폭스카라","폭스퍼","모피","무스탕"]
outer = ["자켓","재킷","점퍼","코트","롱패딩","덕다운","패딩 세트","패딩코트세트","구스다운","윈드브레이커"]
top1 = ["니트","맨투맨","터틀넥","모크넥"]
top2 = ["기모티","셔츠","블라우스","베스트"]
bottom = ["데님","팬츠","스커트","원피스","바지"]
sett=["세트","수트","풀코디","앙상블","멀티","액티비티","라인핏"]

df_clothes['subCategory'] = np.where(df_clothes['상품명'].apply(lambda x:any(k in x for k in leather)),"가죽/모피/무스탕",\
                            np.where(df_clothes['상품명'].apply(lambda x:'+' in x),"세트상품",\
                            np.where(df_clothes['상품명'].apply(lambda x:any(k in x for k in outer)),"자켓/코트/패딩",\
                            np.where(df_clothes['상품명'].apply(lambda x:any(k in x for k in top1)),"상의1",\
                            np.where(df_clothes['상품명'].apply(lambda x:any(k in x for k in top2)),"상의2",\
                            np.where(df_clothes['상품명'].apply(lambda x:any(k in x for k in bottom)),"하의",\
                            np.where(df_clothes['상품명'].apply(lambda x:any(k in x for k in sett)),"세트상품","자켓/코트/패딩")))))))

In [69]:
df_clothes['newCategory'] = df_clothes['gender']+df_clothes['subCategory']

In [70]:
df_clothes.head()

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,판매수량,gender,subCategory,newCategory
0,2019-01-01 06:00:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0,52.0,남성,상의1,남성상의1
1,2019-01-01 06:00:00,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000.0,109.0,여성,상의1,여성상의1
2,2019-01-01 06:20:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0,81.0,남성,상의1,남성상의1
3,2019-01-01 06:20:00,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000.0,174.0,여성,상의1,여성상의1
4,2019-01-01 06:40:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0,167.0,남성,상의1,남성상의1

In [72]:
df_clothes=df_clothes.drop(['gender','subCategory'],axis=1)
df_clothes.head()

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,판매수량,newCategory
0,2019-01-01 06:00:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0,52.0,남성상의1
1,2019-01-01 06:00:00,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000.0,109.0,여성상의1
2,2019-01-01 06:20:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0,81.0,남성상의1
3,2019-01-01 06:20:00,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000.0,174.0,여성상의1
4,2019-01-01 06:40:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0,167.0,남성상의1

In [12]:
df_clothes[["newCategory","판매단가"]].groupby("newCategory").describe()

              판매단가                                                    \
             count           mean            std       min       25%
newCategory
남성가죽/모피/무스탕   66.0  197636.363636    3458.040190  189000.0  199000.0
남성상의1        116.0   64802.586207   15360.612880   39900.0   49000.0
남성상의2        471.0   58121.656051   13855.009011   39000.0   39900.0
남성세트상품       178.0   77300.561798   18370.737900   49000.0   59900.0
남성자켓/코트/패딩   154.0   80490.909091   36098.026241   49000.0   52175.0
남성하의         477.0   68019.706499   11977.431049   39000.0   59000.0
여성가죽/모피/무스탕  633.0  693233.807267  728815.661215   69000.0  199000.0
여성상의1        185.0   56312.432432   16509.921491   29900.0   39900.0
여성상의2        448.0   55933.928571   16002.371489   29000.0   39900.0
여성세트상품       617.0   55392.868720   24011.869651   29000.0   39000.0
여성자켓/코트/패딩   417.0   62059.232614   26199.605792   29900.0   49000.0
여성하의         578.0   58714.705882   16978.590096   29000.0   39900.0


                  50%        75%        max
newCategory
남성가죽/모피/무스탕  199000.0   199000.0   199000.0
남성상의1         69900.0    69900.0    99000.0
남성상의2         59900.0    69000.0    99000.0
남성세트상품        79900.0    89000.0   129000.0
남성자켓/코트/패딩    69900.0    89000.0   199000.0
남성하의          69900.0    79000.0    99000.0
여성가죽/모피/무스탕  299000.0  1490000.0  2490000.0
여성상의1         49000.0    69900.0    99000.0
여성상의2         59900.0    69000.0    99000.0
여성세트상품        49000.0    79000.0   129000.0
여성자켓/코트/패딩    59000.0    69000.0   179000.0
여성하의          59000.0    69900.0    99000.0

In [13]:
df_clothes[["newCategory","취급액"]].groupby("newCategory").describe()

               취급액                                                     \
             count          mean           std        min         25%
newCategory
남성가죽/모피/무스탕   66.0  1.722147e+07  1.054562e+07  1165000.0   8790750.0
남성상의1        116.0  2.064260e+07  1.982112e+07  2099000.0   8418750.0
남성상의2        471.0  2.516598e+07  2.026510e+07  1081000.0   9989500.0
남성세트상품       178.0  2.754828e+07  1.780142e+07  3229000.0  12932250.0
남성자켓/코트/패딩   154.0  1.440884e+07  1.192722e+07   310000.0   6548250.0
남성하의         477.0  2.452538e+07  1.617457e+07  2860000.0  12728000.0
여성가죽/모피/무스탕  633.0  3.552435e+07  2.428490e+07    50000.0  17129000.0
여성상의1        185.0  1.358591e+07  8.477885e+06  1250000.0   6927000.0
여성상의2        448.0  1.660491e+07  1.322598e+07   268000.0   7335000.0
여성세트상품       617.0  2.609737e+07  1.435478e+07  2045000.0  14976000.0
여성자켓/코트/패딩   417.0  2.835540e+07  2.774556e+07   220000.0  12582000.0
여성하의         578.0  1.943342e+07  1.156318e+07   773000.0  10953750.0


                    50%         75%          max
newCategory
남성가죽/모피/무스탕  16115500.0  22507000.0   59404000.0
남성상의1        14407500.0  22410750.0  112972000.0
남성상의2        19588000.0  33891500.0  117121000.0
남성세트상품       25084000.0  37783750.0   96824000.0
남성자켓/코트/패딩   11454500.0  18175000.0   73060000.0
남성하의         20299000.0  32000000.0   98808000.0
여성가죽/모피/무스탕  30784000.0  48021000.0  146042000.0
여성상의1        12122000.0  18520000.0   43098000.0
여성상의2        13480000.0  21841000.0  102784000.0
여성세트상품       24020000.0  34730000.0   94746000.0
여성자켓/코트/패딩   23346000.0  36614000.0  322009000.0
여성하의         17278500.0  25534500.0   66373000.0

In [14]:
df_clothes[["newCategory","판매수량"]].groupby("newCategory").describe()

              판매수량                                                       \
             count        mean         std   min     25%    50%     75%
newCategory
남성가죽/모피/무스탕   66.0   86.530303   53.031259   5.0   45.25   82.5  113.50
남성상의1        116.0  305.310345  254.551623  43.0  148.25  220.0  373.75
남성상의2        471.0  482.358811  459.968774  16.0  167.00  339.0  635.50
남성세트상품       178.0  380.966292  289.193929  28.0  166.75  317.5  473.25
남성자켓/코트/패딩   154.0  206.305195  177.325310   3.0   71.00  157.0  282.50
남성하의         477.0  370.029350  252.865235  41.0  186.00  307.0  481.00
여성가죽/모피/무스탕  633.0  125.636651  147.561050   0.0   31.00   80.0  173.00
여성상의1        185.0  280.308108  217.427617  15.0  107.00  227.0  388.00
여성상의2        448.0  356.997768  360.361039   3.0  121.00  222.0  470.75
여성세트상품       617.0  610.482982  463.081902  18.0  241.00  491.0  869.00
여성자켓/코트/패딩   417.0  554.374101  661.092303   3.0  190.00  412.0  729.00
여성하의         578.0  383.316609  293.137463   9.0  169.00  304.0  525.25


                max
newCategory
남성가죽/모피/무스탕   298.0
남성상의1        1413.0
남성상의2        2935.0
남성세트상품       1616.0
남성자켓/코트/패딩    811.0
남성하의         1413.0
여성가죽/모피/무스탕  1644.0
여성상의1        1080.0
여성상의2        2635.0
여성세트상품       2063.0
여성자켓/코트/패딩   8070.0
여성하의         1570.0

In [ ]:
#write excel file
writer = pd.ExcelWriter('./data/그룹바이.xlsx', engine='xlsxwriter')
y_df.to_excel(writer, sheet_name='Sheet1',index=False)
writer.close()

# 이미용(총 4개)

#### - 기기,바디,헤어,화장품(기기는 testset에만 존재)

In [81]:
df_beauty=df[df['상품군']=='이미용']

In [82]:
df_beauty.head()

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,판매수량,newCategory
35,2019-01-01 17:00:00,20.0,100074,200197,비버리힐스폴로클럽 남성기초세트(2018FW골드),이미용,39800,42239000.0,1061.0,화장품
36,2019-01-01 17:20:00,20.0,100074,200197,비버리힐스폴로클럽 남성기초세트(2018FW골드),이미용,39800,73494000.0,1846.0,화장품
37,2019-01-01 17:40:00,20.0,100074,200197,비버리힐스폴로클럽 남성기초세트(2018FW골드),이미용,39800,107103000.0,2691.0,화장품
180,2019-01-03 08:00:00,20.0,100774,202261,엘렌실라 달팽이크림(콜라겐5+팩트3),이미용,79000,13665000.0,172.0,화장품
181,2019-01-03 08:20:00,20.0,100774,202261,엘렌실라 달팽이크림(콜라겐5+팩트3),이미용,79000,26788000.0,339.0,화장품

In [83]:
equipment = ["기기"]
body = ["네일","풋","샤워"]
hair = ["샴푸","트리트먼트","헤어","뿌리","고데","실크테라피","볼륨","새치","염색"]

In [85]:
df_beauty['newCategory'] = np.where(df_beauty['상품명'].apply(lambda x: any(k in x for k in equipment)),"이미용기기",\
                           np.where(df_beauty['상품명'].apply(lambda x: any(k in x for k in body)),"바디",\
                           np.where(df_beauty['상품명'].apply(lambda x: any(k in x for k in hair)),"헤어",\
                           np.where(df_beauty['상품명'].apply(lambda x: "기초세트" in x),"기초세트","화장품"))))

In [89]:
df_beauty.head()

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,판매수량,newCategory
35,2019-01-01 17:00:00,20.0,100074,200197,비버리힐스폴로클럽 남성기초세트(2018FW골드),이미용,39800,42239000.0,1061.0,기초세트
36,2019-01-01 17:20:00,20.0,100074,200197,비버리힐스폴로클럽 남성기초세트(2018FW골드),이미용,39800,73494000.0,1846.0,기초세트
37,2019-01-01 17:40:00,20.0,100074,200197,비버리힐스폴로클럽 남성기초세트(2018FW골드),이미용,39800,107103000.0,2691.0,기초세트
180,2019-01-03 08:00:00,20.0,100774,202261,엘렌실라 달팽이크림(콜라겐5+팩트3),이미용,79000,13665000.0,172.0,화장품
181,2019-01-03 08:20:00,20.0,100774,202261,엘렌실라 달팽이크림(콜라겐5+팩트3),이미용,79000,26788000.0,339.0,화장품

In [86]:
df_beauty[["newCategory","판매단가"]].groupby("newCategory").describe() #남성기초세트 711#화장품 더나누는게 의미?

              판매단가                                                         \
             count          mean           std      min      25%      50%
newCategory
기초세트         711.0  45245.288326   8173.362929  39800.0  39800.0  39800.0
바디            42.0  57685.714286   5296.965143  49900.0  54800.0  59800.0
헤어           130.0  64229.230769   8048.664448  39900.0  59800.0  69850.0
화장품          422.0  56047.867299  14707.763965  39900.0  39900.0  59000.0


                 75%      max
newCategory
기초세트         54000.0  59000.0
바디           59800.0  69900.0
헤어           69900.0  69900.0
화장품          69900.0  79900.0

In [87]:
df_beauty[["newCategory","취급액"]].groupby("newCategory").describe()

               취급액                                                     \
             count          mean           std        min         25%
newCategory
기초세트         711.0  4.832635e+07  2.308415e+07  9239000.0  31946500.0
바디            42.0  3.250169e+07  2.199975e+07  4157000.0  16766000.0
헤어           130.0  2.543402e+07  1.533411e+07   841000.0  13217250.0
화장품          422.0  2.438646e+07  1.688812e+07   485000.0  12068250.0


                    50%         75%          max
newCategory
기초세트         43539000.0  60473500.0  185927000.0
바디           23876500.0  45249500.0   85324000.0
헤어           23682500.0  35765250.0   71992000.0
화장품          20532500.0  32895750.0  112105000.0

In [88]:
df_beauty[["newCategory","판매수량"]].groupby("newCategory").describe()

              판매수량                                                         \
             count         mean         std    min     25%    50%     75%
newCategory
기초세트         711.0  1089.592124  529.743246  178.0  705.50  988.0  1362.0
바디            42.0   557.214286  360.435342   68.0  334.25  422.0   766.5
헤어           130.0   396.838462  242.909617   14.0  194.75  372.0   526.5
화장품          422.0   464.177725  332.102178    7.0  210.75  373.0   686.0


                max
newCategory
기초세트         4469.0
바디           1426.0
헤어           1203.0
화장품          1882.0

In [90]:
df=pd.DataFrame()
df = pd.concat([df_beauty,df_clothes])
df.head()

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,판매수량,newCategory
35,2019-01-01 17:00:00,20.0,100074,200197,비버리힐스폴로클럽 남성기초세트(2018FW골드),이미용,39800,42239000.0,1061.0,기초세트
36,2019-01-01 17:20:00,20.0,100074,200197,비버리힐스폴로클럽 남성기초세트(2018FW골드),이미용,39800,73494000.0,1846.0,기초세트
37,2019-01-01 17:40:00,20.0,100074,200197,비버리힐스폴로클럽 남성기초세트(2018FW골드),이미용,39800,107103000.0,2691.0,기초세트
180,2019-01-03 08:00:00,20.0,100774,202261,엘렌실라 달팽이크림(콜라겐5+팩트3),이미용,79000,13665000.0,172.0,화장품
181,2019-01-03 08:20:00,20.0,100774,202261,엘렌실라 달팽이크림(콜라겐5+팩트3),이미용,79000,26788000.0,339.0,화장품

In [91]:
#write excel file
writer = pd.ExcelWriter('./data/df_의류이미용.xlsx', engine='xlsxwriter')
df.to_excel(writer, sheet_name='Sheet1',index=False)
writer.close()